<%= form_with(model: [ @movie, @review ]) do |f| %>

  <%= render "shared/errors", object: @review %>

  <%= f.label :stars, "Rate Movie"  %>
  <% Review::STARS.each do |star| %>
    <span class="star">
      <%= f.radio_button :stars, star %>
      <%= label_tag star %>
    </span>
  <% end %>

  <%= f.label :comment %>
  <%= f.text_area :comment, rows: 4, placeholder: "What do you think?"%>

  <%= f.submit "Post Review" %>
<% end %>
